[build]
  command = "npm run build"
  publish = ".next"

[dev]
  command = "npm run dev -- -p 3000"
  targetPort = 3000
  port = 8888
  autoLaunch = false

[functions]
  directory = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-nextjs"
